.about {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__content {
        margin-right: 3rem;
        flex: 1 0 45%;

        @media only screen and(max-width: 768px) {
            margin-right: 0;
        }
    }

    &__paragraph {
        color: $grey;
        word-break: keep-all;
    }

    &__heading {
        margin-bottom: 2rem;
    }

    &__img-wrapper {
        flex: 0 1 45%;

        @media only screen and(max-width: 768px) {
            display: none;
        }
    }
}
