.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 6rem;
    z-index: 1;
    background-color: transparent;
    transition: background-color 0.25s ease-in-out;

    &__container {
        height: 100%;
    }
}

.header-scrolled {
    background-color: rgba($white, 0.8);
    z-index: 10;
    box-shadow: 0 3px 8px 0 rgba($dark, 0.15);

    .nav__link {
        color: $dark;
    }

    .nav-toggle-button {
        background-color: $dark;

        &:before,
        &:after {
            background-color: $dark;
        }
    }
}
