.plan {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border-radius: $br-radius;
    box-shadow: 0 0 8px 1px rgba($dark, 0.1);
    margin: 0 1.5rem 0 1.5rem;
    width: 33.33%;
    transition: transform 0.2s ease-in-out;

    @include media(lg) {
        width: 100%;
        margin: 1.5rem 0 1.5rem 0;
    }

    &:hover {
        transform: scale(1.021) translateY(-1rem);
    }

    &__heading {
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
    }

    &__price {
        margin: 3rem 0;
        font-size: 1.5rem;
        text-align: center;

        span {
            color: $primary;
            font-weight: 100;
            font-size: 3.5rem;
        }
    }

    &__list {
        color: $grey;
        text-align: center;
        margin-bottom: auto;
    }

    &__item {
        list-style: none;
        font-size: 1.7rem;
    }

    &__button {
        text-align: center;
        margin-top: 3rem;
    }

    .button {
        justify-self: flex-end;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }
}
